* {
    text-align: center;
    box-sizing: border-box;
    background-color: peachpuff;
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 16px;

}

#hogwartsCrest img {
    display: inline-block;
    max-width: 200px;
}

button {
    display: inline-block;
}

.progress {
    padding: 30px;
    font-size: 18px;
}

h1 {
    font-size: 25px;
}

.answers legend {
    display: none;
}

.answers {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border: none;
}

.wholeAnswer {
    text-align: left;
}

.answerText {
    font-size: 18px;
}

.score {
    padding: 20px;
    font-size: 20px;
}

button {
    background-color: darkred;
    border-radius: 10%;
    font-weight: bold;
    color: white;
}

.submitAnswer, .startButton {
    width: 100px;
    height: 33px;
}

.nextQuestion, .restartButton {
    width: 160px;
    height: 33px;
}


#correctStatement {
    padding: 20px;
}

#correctImg img, #incorrectImg img {
    display: inline-block;
    max-width: 300px;
}

#congratsGif img {
    max-width: 300px;
}

#finalScoreStatement {
    font-size: 20px;
    padding: 20px;
}