* {
    text-align: center;
}

.score {
    padding: 10px;
}

.answers {
    width: 100px;
    padding: 30px;
    margin: 0 auto;
}

.wholeAnswer {
    text-align: left;
}

.progress {
    padding: 30px;
}